In [3]:
import pandas as pd

In [2]:
df = pd.read_csv('transactions_n100000.csv')
df.head()

,ticket_id,order_timestamp,location,item_name,item_count,lat,long
0,0x209277,2019-03-02 19:59:00,8,shake,3.0,41.894202,-87.620965
1,0x209277,2019-03-02 19:59:00,8,burger,4.0,41.894202,-87.620965
2,0x209277,2019-03-02 19:59:00,8,fries,4.0,41.894202,-87.620965
3,0x30b900,2019-03-26 18:06:00,1,shake,3.0,41.880844,-87.630524
4,0x30b900,2019-03-26 18:06:00,1,burger,3.0,41.880844,-87.630524

In [4]:
df.columns

Index(['ticket_id', 'order_timestamp', 'location', 'item_name', 'item_count',
       'lat', 'long'],
      dtype='object')

In [6]:
df.shape

(185452, 7)

In [10]:
df['location'].value_counts()

6    26557
2    26391
9    24441
7    24110
4    24040
8    15883
3    15058
1    14800
5    14172
Name: location, dtype: int64

In [14]:
df.groupby('item_name').max()

,ticket_id,order_timestamp,location,item_count,lat,long
item_name,,,,,,
burger,0xfff80,2019-12-30 23:59:00,9,5.0,42.049306,-87.607565
fries,0xfff80,2019-12-30 23:59:00,9,5.0,42.049306,-87.607565
salad,0xffe87,2019-12-30 21:47:00,9,5.0,42.049306,-87.607565
shake,0xfff80,2019-12-30 23:54:00,9,5.0,42.049306,-87.607565

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
encoded_data = OneHotEncoder(handle_unknown='ignore')

In [18]:
pd.DataFrame(encoded_data.fit_transform(df[['location']]).toarray())

          0    1    2    3    4    5    6    7    8
0       0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1       0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
2       0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3       1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...
185447  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
185448  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
185449  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
185450  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
185451  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[185452 rows x 9 columns]

In [23]:
def get_hour(timestamp):
    return timestamp.split()[1].split(':')[0]

In [25]:
df['order_timestamp'].apply(lambda x: x.hour)

0         2019-03-02 19:59:00
1         2019-03-02 19:59:00
2         2019-03-02 19:59:00
3         2019-03-26 18:06:00
4         2019-03-26 18:06:00
                 ...
185447    2019-06-12 17:58:00
185448    2019-06-12 17:58:00
185449    2019-06-12 17:58:00
185450    2019-03-06 20:55:00
185451    2019-03-06 20:55:00
Name: order_timestamp, Length: 185452, dtype: object

In [36]:
df = df.dropna()

In [37]:
encoded_data = OneHotEncoder(handle_unknown='ignore')
encoded_data.fit(df)

OneHotEncoder(handle_unknown='ignore')

In [38]:
col_map_store_binary = dict(zip(list(encoded_data.get_feature_names()), [
                            'store_' + x.split('x0_')[1] for x in encoded_data.get_feature_names()]))

IndexError: list index out of range

In [41]:
import numpy as np

In [43]:
np.array(df['location'].tolist()).reshape(-1, 1)

array([[8],
       [8],
       [8],
       ...,
       [9],
       [9],
       [7]])